<div class="box">
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p class="box">{{idea}}</p>
<form class="box">
  {{#each choices as |choice| }}
  <button class="button">{{choice.name}}</button>

  {{/each}}
</form>
</div>
