<div class="box">
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p class="box">{{idea}}</p>
<form class="box">
  <button class="button">choice 1</button>
  <button class="button">choice 2</button>
  <button class="button">choice 3</button>
  <button class="button">choice 4</button>
  <button class="button">choice 5</button>
</form>
</div>
